.time{
    height: 30%;
    width: 23%;
    display: inline-flex;
    font-size: 55px;
    color: #18dcff;
}
.back{
    margin-top: 15%;
    margin-left: 10%;
    /* background-color: #576574; */
}
.date{
    font-size: 55px;
    margin-left: 30%;
    color: #18dcff;
    
}
.main{
    padding: 20px;
    background-color: #4b4b4b;
}